@model TimeTrackerWeb.ViewModels.TimeRecordViewModel
@{
    ViewBag.Title = "NewRecord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NewRecord</h2>

@using (Html.BeginForm("SaveRecord", "TimeRecords"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Users)
        @Html.DropDownListFor(m => m.User.Id, new SelectList(Model.Users, "Id", "FullName"), "Select User", new { @class = "form-control" })
    </div>

    <div id="partialView">@Html.Partial("ActivityList")</div>

    @Html.AntiForgeryToken()
    <button class="btn btn-primary" type="submit">Save Time Record</button>
}
@section scripts
{
    <script type="text/javascript">
    $(function () {
        $('#User_Id').change(function () {
            $.get('/TimeRecords/AssignActivity/' + $(this).find(':selected').val(), function (data) {
                $('#partialView').html(data);
            })
        });
    });
    </script>
}