@model TimeTrackerWeb.ViewModels.TimeRecordViewModel
@{
    ViewBag.Title = "NewRecord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NewRecord</h2>

@using (Html.BeginForm("SaveRecord", "TimeRecords"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Users)
        @Html.DropDownListFor(m => m.User.Id, new SelectList(Model.Users, "Id", "FullName"), "Select User", new { @class = "form-control" })
    </div>

    @Html.Partial("ActivityList")


    @Html.AntiForgeryToken()
    <button class="btn btn-primary" type="submit">Save Time Record</button>
}
